@import url(//fonts.googleapis.com/icon?family=Material+Icons);
:root{
    --primary-color: white;
    --secondary-color: rgb(61, 68, 73);
    --highlight-color:#3282b8;

    --dt-status-avaible-color:greenyellow;
    --dt-status-away-color: lightsalmon;
    --dt-status-offline-color: lightgray;
    --dt-padding: 12px;
    --dt-padding-s: 6px;
    --dt-padding-xs: 12px;

    --dt-border-radius: 3px;

    --dt-background-color-container: #2a3338;
    --dt-border-color:var(--secondary-color);
    --dt-bg-color: var(--highlight-color);
    --dt-text-color:var(--primary-color);
    --dt-bg-activate-button:var(--highlight-color);
    --dt-text-color-button:var(--primary-color);
    --dt-text-color-activate-button:var(--primary-color);
    --dt-hover-cell-color:var(--highlight-color);
    --dt-even-row-color:var(--secondary-color);
    --dt-focus-color:var(--highlight-color);
    --dt-input-background-color:var(--secondary-color);
    --dt-input-color:var(--primary-color);

}

.data-table-container{
    font-family: 'Noto sans',sans-serif;
    background-color:var(--dt-background-color-container);
    border-radius:var(--dt-border-radius);
    color: var(--dt-text-color);
    width: 600px;
    margin:  0 auto;
    font-size: 12px;
}

.data-table-container .header-tools{
    border-bottom: solid 1px var(--dt-border-color) ;
    padding: var(--dt-padding);
    display: flex;
    align-items: baseline;
}

.data-table-container .header-tools .search{
    width: 50%;
}

.data-table-container .header-tools .search .search-input{
    width: 100%;
    background-color:var(--dt-input-background-color);
    display: block;
    box-sizing: border-box;
    border-radius: var(--dt-border-radius);
    border: solid 1px var(--dt-border-color);
    color:var(--dt-input-color);
    
}
.data-table-container .footer-tools{
    padding: var(--dt-padding);
    display: flex;
    align-items: baseline;
}
.data-table-container .footer-tools .list-items{       
    width: 30% ;
}
.data-table-container .footer-tools .pages{
    margin-left:auto;
    margin-right:0;
    width: 30%;
}
.data-table-container .footer-tools .pages ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}
.data-table-container .footer-tools .pages ul li{
    display: inline-block;
    margin: 0 var(--dt-padding-xs);
}
.data-table-container .footer-tools .pages ul li button{
 
    color: var(--dt-text-color-button);
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-radius: var(--dt-border-radius);
    background: transparent;
    cursor: pointer;
@import url(//fonts.googleapis.com/icon?family=Material+Icons);
:root{
    --primary-color: white;
    --secondary-color: rgb(61, 68, 73);
    --highlight-color:#3282b8;

    --dt-status-avaible-color:greenyellow;
    --dt-status-away-color: lightsalmon;
    --dt-status-offline-color: lightgray;
    --dt-padding: 12px;
    --dt-padding-s: 6px;
    --dt-padding-xs: 12px;

    --dt-border-radius: 3px;

    --dt-background-color-container: #2a3338;
    --dt-border-color:var(--secondary-color);
    --dt-bg-color: var(--highlight-color);
    --dt-text-color:var(--primary-color);
    --dt-bg-activate-button:var(--highlight-color);
    --dt-text-color-button:var(--primary-color);
    --dt-text-color-activate-button:var(--primary-color);
    --dt-hover-cell-color:var(--highlight-color);
    --dt-even-row-color:var(--secondary-color);
    --dt-focus-color:var(--highlight-color);
    --dt-input-background-color:var(--secondary-color);
    --dt-input-color:var(--primary-color);

}

.data-table-container{
    font-family: 'Noto sans',sans-serif;
    background-color:var(--dt-background-color-container);
    border-radius:var(--dt-border-radius);
    color: var(--dt-text-color);
    width: 600px;
    margin:  0 auto;
    font-size: 12px;
}

.data-table-container .header-tools{
    border-bottom: solid 1px var(--dt-border-color) ;
    padding: var(--dt-padding);
    display: flex;
    align-items: baseline;
}

.data-table-container .header-tools .search{
    width: 50%;
}

.data-table-container .header-tools .search .search-input{
    width: 100%;
    background-color:var(--dt-input-background-color);
    display: block;
    box-sizing: border-box;
    border-radius: var(--dt-border-radius);
    border: solid 1px var(--dt-border-color);
    color:var(--dt-input-color);
    
}
.data-table-container .footer-tools{
    padding: var(--dt-padding);
    display: flex;
    align-items: baseline;
}
.data-table-container .footer-tools .list-items{       
    width: 30% ;
}
.data-table-container .footer-tools .pages{
    margin-left:auto;
    margin-right:0;
    width: 30%;
}
.data-table-container .footer-tools .pages ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}
.data-table-container .footer-tools .pages ul li{
    display: inline-block;
    margin: 0 var(--dt-padding-xs);
}
.data-table-container .footer-tools .pages ul li button{
 
    color: var(--dt-text-color-button);
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-radius: var(--dt-border-radius);
    background: transparent;
    cursor: pointer;
}
.data-table-container .footer-tools .pages ul li button:hover{
 
    background:var(--dt-bg-activate-button);
    color: var(--dt-text-color-activate-button);
    
}
.data-table-container .footer-tools .pages ul li span:active{
 
    background-color: var(--dt-bg-color);
    border-radius: var(--dt-border-radius);
    
}
.data-table-container .footer-tools .pages ul li button,
.data-table-container .footer-tools .pages ul li span{
 
    padding: var(--dt-padding-s);
}
.data-table-container .data-table{
    border-collapse: collapse;
    width:100%;
}
.data-table-container .data-table,
.data-table-container .data-table th,
.data-table-container .data-table td{
    padding:var(--dt-padding)var(--dt-padding);
}
.data-table-container .data-table th{
    font-weight: bolder;
    text-align: left;
    border-bottom: solid 1px var(--dt-border-color);
}
.data-table-container .data-table td{
    border-bottom: solid 1px var(--dt-border-color);
}
.data-table-container .data-table tbody tr:nth-child(even){
    background-color:var(--dt-even-row-color) ;
}
.data-table-container .data-table tbody:hover{
    background-color:var(--dt-hover-cell-color) ;
}